<h1>Contact Us</h1>
<p>To contact us, just send us an email or visit us at one of our local stores:</p>

<h3>Midtown Manhattan</h3>
<p>1333 Broadway<br>
New York, NY 10018<br>
Phone: 800-DESSERT</p>

<h3>Lower Manhattan</h3>
<p>33 Maiden Lane<br>
New York, NY 10038<br>
Phone: 800-DESSERT</p>

<h3>Uptown Manhattan</h3>
<p>1391 Madison Avenue<br>
New York, NY 10029<br>
Phone: 800-DESSERT</p>

<br>
<p>Click here to <%= link_to "order", "#" %></p>
<p>Email: info@healthyDesserts.com</p>